a {
    border: none;
    padding: 0;
    text-decoration: none;
    border-radius: 10%;
}
img {
    width: 18vw;
    padding-top: -10%;
    border-radius: 10%;
    box-shadow: 15px 15px 15px grey;
}
.menu {
    position: relative;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.inline {
    display: inline-flex;
    align-items: center;
    padding: 0% 2vw;
}
a,
a:hover {
    text-decoration: none;
    color: #52595d;
}
a:hover, a:focus-visible{
    transform: scale(1.05);
}
a{
    transition: transform 250ms;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .inline {
        display: block;
        align-items: center;
    }
    img {
        width: 39vw;
        padding-top: -10%;
        border-radius: 10%;
        box-shadow: 15px 15px 15px grey;
    }

    .menu{
        position: relative;
        text-align: center;
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

}
