<mat-vertical-stepper [linear]="passage_etape" #stepper>
    <mat-step [stepControl]="Informations_Generales_Form">
        <form [formGroup]="Informations_Generales_Form">
           
            <ng-template matStepLabel>Informations Générales</ng-template>
                
            <div class="row">

                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label for="Nom"> Nom du Employé </mat-label>
                        <input type="text" matInput formControlName="Nom_Employe" id="Nom_Employe" name="Nom_Employe"
                        required>
                        <mat-error *ngIf="Informations_Generales_Form.get('Nom_Employe').invalid">
                        {{MessageErreurNom()}}</mat-error>    
                    </mat-form-field>
                </div>

                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label for="Nom"> Prenom du Employé </mat-label>
                        <input type="text" matInput formControlName="Nom_Employe" id="Nom_Employe" name="Nom_Employe"
                        required>
                        <mat-error *ngIf="Informations_Generales_Form.get('Nom_Employe').invalid">
                        {{MessageErreurNom()}}</mat-error>    
                    </mat-form-field>
                </div>

                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="Email" placeholder="Ex. pat@example.com" required>
                        <mat-error *ngIf="Informations_Banques_Form.get('Email').invalid">
                        {{MessageErreurEmail()}}</mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div class="row">
               
                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label>Téléphone</mat-label>
                        <input type="number" matInput formControlName="Tel1" id="Tel1" name="Tel1"placeholder="(+216)99-999-999">
                        <mat-error *ngIf="Informations_Banques_Form.get('Tel1').invalid">{{MessageErreurTel()}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label for="Role"> Rôle </mat-label>
                        <mat-select  formControlName="Role" id="Role" name="Role"
                        placeholder="Role" required>
                            <mat-option value=" "></mat-option>
                            <mat-option *ngFor="let role of roles" [value]="role.value">
                            {{role.viewValue}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="Informations_Generales_Form.get('Role').invalid">
                        {{MessageErreurrole()}}</mat-error> 
                    </mat-form-field>
                </div>

                <div class="col-md-4 mb-4">
                    <mat-form-field >
                        <mat-label>Local de la societe</mat-label>
                        <mat-select formControlName="local" id="vente" name="local"  placeholder="local"  required  >
                            <mat-option *ngFor="let l of locals" value="{{l.value}}">{{l.viewValue}}</mat-option>                       
                        </mat-select>
                        <mat-error *ngIf="Informations_Generales_Form.get('local').invalid">
                        {{local}}</mat-error> 
                    </mat-form-field>
                </div> 

            </div>

            <div class="row">
                
                <div class="col-md-4 mb-4">
                    <mat-form-field>                      
                        <mat-label for="Date_embauche"> Date d'embauche</mat-label>
                        <input   matInput formControlName="Date_embauche" id="Date_embauche"[matDatepicker]="picker3"
                        placeholder="DD/MM/YYYY"  name="Date_embauche" required> 
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>   
                    </mat-form-field>
                </div>
                
                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label for="Type_Piece_Identite">Type de la pièce d'identité </mat-label>
                        <mat-select formControlName="Type_Piece_Identite" id="Type_Piece_Identite"
                        name="Type_Piece_Identite" placeholder="Type de la pièce d'identité" required>
                            <mat-option value=" "></mat-option>
                            <mat-option *ngFor="let piece of categorie_piece" [value]="piece.value">{{piece.viewValue}} </mat-option>
                        </mat-select>
                        <mat-error *ngIf="Informations_Generales_Form.get('Type_Piece_Identite').invalid">
                        {{MessageErreurCategoriePiece()}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label for="N_Piece_Identite"> Numéro de la pièce d'identité </mat-label>
                        <input type="text" matInput formControlName="N_Piece_Identite" id="N_Piece_Identite"
                        name="N_Piece_Identite" required>
                        <mat-error *ngIf="Informations_Generales_Form.get('N_Piece_Identite').invalid">
                        {{MessageErreurNPieceIdentite()}}</mat-error>
                    </mat-form-field>
                </div>
                                    
                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label for="Date_naissance">Date de naissance</mat-label>
                        <input  matInput formControlName="Date_naissance" id="Date_naissance"  [matDatepicker]="picker"
                        placeholder="DD/MM/YYYY" name="Date_naissance" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>                  
                    </mat-form-field>
                </div>
               
            </div>      
           
            <div>
                <button mat-button class="btn-danger" TYPE="reset" style="margin-top: 20px;">Annuler</button>
                <button mat-button matStepperNext (click)="openDialog()" class="btn-primary" style="margin-top: 20px;">Suivant</button>
            </div>

        </form>
    </mat-step>
  
    <mat-step [stepControl]="Informations_Banques_Form">
        <form [formGroup]="Informations_Banques_Form">

            <ng-template matStepLabel>Informations Spécifiques</ng-template>

            <div class="row">

                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label> Image du Employé </mat-label>
                        <ngx-mat-file-input matInput id="Image" name="Image" formControlName="Image"
                        placeholder="Sélectionner image" accept="image/png, image/jpeg"> </ngx-mat-file-input>
                    </mat-form-field>
                </div>
                    

                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label for="banque1"> Banque </mat-label>
                        <mat-select (selectionChange)="ChoixBanque1($event)"  formControlName="Banque1" id="Banque1" name="Banque1" placeholder="Banque"  >
                            <mat-option></mat-option>
                            <mat-option *ngFor="let banque of  categorie_banque" [value]="banque.value">
                            {{banque.viewValue}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="Informations_Banques_Form.get('Banque1').invalid"></mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label for="rib1"> RIB </mat-label>
                        <input type="text" matInput formControlName="Rib1" id="Rib1" name="Rib1" style='-webkit-appearance: none; 
                        margin: 0; ' required>
                        <mat-error *ngIf="Informations_Banques_Form.get('Rib1').invalid">
                        {{MessageErreurRib()}}</mat-error>
                    </mat-form-field>
                </div>
                    
            </div>

            <div class="row">
                
                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label for="Adresse"> Adresse </mat-label>
                        <input type="text" matInput formControlName="Adresse" id="Adresse" name="Adresse" required>
                        <mat-error *ngIf="Informations_Banques_Form.get('Adresse').invalid">
                        {{MessageErreurAdresse()}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label for="Pays"> Pays </mat-label>
                        <mat-select formControlName="Pays" id="Pays" name="Pays" placeholder="Pays"
                        (selectionChange)="ChoixPays($event)" required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let pays of  categorie_pays" [value]="pays.value">{{pays.viewValue}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="Informations_Banques_Form.get('Pays').invalid">{{MessageErreurPays()}}</mat-error>
                    </mat-form-field>
                </div>
                
                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label for="Ville"> Ville </mat-label>
                        <mat-select formControlName="Ville" id="Ville" name="Ville" placeholder="Ville"
                        (selectionChange)="ChoixVille($event)">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let ville of  categorie_ville" [value]="ville.value">{{ville.viewValue}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
            </div>

            <div class="row">

                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label for="Cnss">Code Cnss </mat-label>
                        <input type="text" matInput formControlName="Cnss" id="Cnss" name="Cnss" >
                        <mat-error *ngIf="Informations_Banques_Form.get('Cnss').invalid"></mat-error>
                    </mat-form-field>
                </div>
                
                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label for="Pays"> Situation Familiale </mat-label>
                        <mat-select formControlName="St_Familliale" id="St_Familliale" name="St_Familliale" placeholder="St_Familliale" required  >
                            <mat-option value="Célibataire"> Célibataire </mat-option>
                            <mat-option value="Marié"> Marié  </mat-option> 
                            <mat-option value="Divorce"> Divorce  </mat-option>                            
                        </mat-select>
                        <mat-error *ngIf="Informations_Banques_Form.get('St_familliale').invalid"></mat-error>
                    </mat-form-field>
                </div>
                
                <div class="col-md-4 mb-4">                     
                    <mat-form-field>
                        <mat-label for="Enfant_a_charge"> Enfant_a_charge </mat-label>
                        <input value ="0" type="number" matInput formControlName="Enfant_a_charge" id="Enfant_a_charge" name="Enfant_a_charge"  >
                        <mat-error *ngIf="Informations_Banques_Form.get('Enfant_a_charge').invalid"></mat-error>
                    </mat-form-field>
                </div>
                
            </div>

            <div class="row">
                
                <div class="col-md-4 mb-4">                     
                    <mat-form-field>
                        <mat-label for="N_permis"> N° permis </mat-label>
                        <input type="text" matInput formControlName="N_permis" id="N_permis" name="N_permis"  >
                        <mat-error *ngIf="Informations_Banques_Form.get('N_permis').invalid">         </mat-error>
                    </mat-form-field>
                </div>                 
                
                <div class="col-md-4 mb-4">
                    <mat-form-field>
                        <mat-label for="Pays"> Catégorie  Permis </mat-label>        
                        <mat-select formControlName="Categorie_permis" id="Categorie_permis" name="Categorie_permis" placeholder="Categorie_permis"  >
                            <mat-option value="A1">A1</mat-option>
                            <mat-option value="A2">A2</mat-option>      
                            <mat-option value="B1">B1</mat-option>
                            <mat-option value="B+E">B+E</mat-option>  
                            <mat-option value="C">C</mat-option>
                            <mat-option value="C+E">C+E</mat-option>              
                            <mat-option value="D">D</mat-option>
                            <mat-option value="D+E">D+E</mat-option>  
                            <mat-option value="D1">D1</mat-option>
                            <mat-option value="H">H</mat-option>           
                        </mat-select>
                        <mat-error *ngIf="Informations_Banques_Form.get('Categorie_permis').invalid"></mat-error>
                    </mat-form-field>
                </div>
                
                <div class="col-md-4 mb-4">                   
                    <mat-form-field>                         
                        <mat-label for="Date_permis"> Date Permis</mat-label>
                        <input   matInput formControlName="Date_permis" id="Date_permis"[matDatepicker]="picker5"
                        placeholder="DD/MM/YYYY" name="Date_permis" >
                        <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                        <mat-datepicker #picker5></mat-datepicker>   
                    </mat-form-field>
                </div>
                
            </div>

            <div>
                <button mat-button class="btn-danger" TYPE="reset" style="margin-top: 20px;">Annuler</button>
                <button mat-button matStepperPrevious class="btn-primary"style="margin-top: 20px; margin-right: 20px;">Retour</button>
                <button mat-button matStepperNext (click)="openDialog()" class="btn-primary" style="margin-top: 20px;">Enregistrer</button>
            </div>
        
        </form>
    </mat-step> 


</mat-vertical-stepper>

 