<div class="grid-container">
     
    <div class="grid-item item3" style="margin-bottom: 20px;margin-left: 20px;">

        <mat-label style="font-weight: bold;border-bottom: 1px solid #DEDEDE;"> Informations Générales </mat-label>
    
        <div class="row">
            <mat-label><strong> Nom   : </strong></mat-label>
        </div>

        <div class="row">
            <mat-label><strong> Prenom: </strong></mat-label>               
        </div>

        <div class="row">
            <mat-label><strong> Email: </strong></mat-label>   
        </div> 

        <div class="row">
            <mat-label><strong> Telephone: </strong></mat-label>   
        </div> 
    
    </div>
        
    <div class="grid-item item5">
        <mat-tab-group headerPosition="above">
            <mat-tab>
        
                <ng-template mat-tab-label>    
                    <mat-icon class="example-tab-icon">contact_page</mat-icon>Informations complémentaires
                </ng-template>
                
                <div class="row">
                    
                    <div class="col-md-4 mb-4">
                        <mat-label><strong> Salaire de base : </strong></mat-label>           
                    </div>
                    
                    <div class="col-md-4 mb-4">
                        <mat-label><strong> Prime de rendement : </strong></mat-label>          
                    </div>
                    
                    <div class="col-md-4 mb-4">
                        <mat-label><strong> Heures supplémentaires : </strong></mat-label>          
                    </div>

                </div>
                
                <div class="row">
            
                    <div class="col-md-4 mb-4">
                        <mat-label><strong> Heures d'abssence : </strong></mat-label>  
                    </div>

                </div>
                     
            </mat-tab>             
        </mat-tab-group>
    </div>

</div>