<div class="row">
  
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <img class="card-img-top img-responsive" src="./../../assets/images/Departement/administratif.png" alt="Card image cap" />
      <div class="card-body">
        <h4 class="card-title">Departement administratif</h4>
        <p class="card-text"></p>
        <mat-icon routerLink="/Menu/Menu-dep/Menu-listerdep/Administratif" title="Visualiser">remove_red_eye</mat-icon>
        <mat-icon (click)="openDialog()" title="Supprimer"style="color: rgba(255, 0, 0, 0.664); margin-left: 15px;">delete</mat-icon>    
        <mat-icon title="Modifier" routerLink="/Menu/Menu-dep/Menu-listerdep/Modifier" style="color:blue;margin-left: 15px;"> edit </mat-icon>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card">
      <img class="card-img-top img-responsive" src="./../../assets/images/Departement/comptabilité.png" alt="Card image cap" />
      <div class="card-body">
        <h4 class="card-title">Departement comptabilité</h4>
        <p class="card-text"></p>
        <mat-icon routerLink="/Menu/Menu-dep/Menu-listerdep/Comptabilite" title="Visualiser">remove_red_eye</mat-icon>
        <mat-icon (click)="openDialog()" title="Supprimer"style="color: rgba(255, 0, 0, 0.664); margin-left: 15px;">delete</mat-icon>    
        <mat-icon title="Modifier" routerLink="/Menu/Menu-dep/Menu-listerdep/Modifier" style="color:blue;margin-left: 15px;"> edit </mat-icon>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card">
      <img class="card-img-top img-responsive" src="./../../assets/images/Departement/commercial.png" alt="Card image cap"/>
      <div class="card-body">
        <h4 class="card-title">Departement Commercial</h4>
        <p class="card-text"></p>
        <mat-icon routerLink="/Menu/Menu-dep/Menu-listerdep/Commercial" title="Visualiser">remove_red_eye</mat-icon>
        <mat-icon (click)="openDialog()" title="Supprimer"style="color: rgba(255, 0, 0, 0.664); margin-left: 15px;">delete</mat-icon>  
        <mat-icon title="Modifier" routerLink="/Menu/Menu-dep/Menu-listerdep/Modifier" style="color:blue;margin-left: 15px;"> edit </mat-icon>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card">
      <img class="card-img-top img-responsive" src="./../../assets/images/Departement/logistique.png" alt="Card image cap"/>
      <div class="card-body">
        <h4 class="card-title">Departement Logistique</h4>
        <p class="card-text"></p>
        <mat-icon routerLink="/Menu/Menu-dep/Menu-listerdep/Logistique" title="Visualiser">remove_red_eye</mat-icon>
        <mat-icon (click)="openDialog()" title="Supprimer"style="color: rgba(255, 0, 0, 0.664); margin-left: 15px;">delete</mat-icon>      
        <mat-icon title="Modifier" routerLink="/Menu/Menu-dep/Menu-listerdep/Modifier" style="color:blue;margin-left: 15px;"> edit </mat-icon>
      </div>
    </div>
  </div>

</div>

<br><br>

<div class="row">
  
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <img class="card-img-top img-responsive" src="./../../assets/images/Departement/finance.png" alt="Card image cap"/>
      <div class="card-body">
        <h4 class="card-title">Departement <br>finance</h4>
        <p class="card-text"></p>
        <mat-icon routerLink="/Menu/Menu-dep/Menu-listerdep/Finance" title="Visualiser">remove_red_eye</mat-icon>
        <mat-icon (click)="openDialog()" title="Supprimer"style="color: rgba(255, 0, 0, 0.664); margin-left: 15px;">delete</mat-icon> 
        <mat-icon title="Modifier" routerLink="/Menu/Menu-dep/Menu-listerdep/Modifier" style="color:blue;margin-left: 15px;"> edit </mat-icon>
      </div>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <img class="card-img-top img-responsive" src="./../../assets/images/Departement/informatique.png" alt="Card image cap"/>
        <div class="card-body">
          <h4 class="card-title">Departement informatique</h4>
          <p class="card-text"></p>
          <mat-icon routerLink="/Menu/Menu-dep/Menu-listerdep/Informatique" title="Visualiser">remove_red_eye</mat-icon>
          <mat-icon (click)="openDialog()" title="Supprimer"style="color: rgba(255, 0, 0, 0.664); margin-left: 15px;">delete</mat-icon>
          <mat-icon title="Modifier" routerLink="/Menu/Menu-dep/Menu-listerdep/Modifier" style="color:blue;margin-left: 15px;"> edit </mat-icon>  
        </div>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <img class="card-img-top img-responsive" src="./../../assets/images/Departement/marketing.png" alt="Card image cap"/>
        <div class="card-body">
          <h4 class="card-title">Departement marketing</h4>
          <p class="card-text"></p>
          <mat-icon routerLink="/Menu/Menu-dep/Menu-listerdep/Marketing" title="Visualiser">remove_red_eye</mat-icon>
          <mat-icon (click)="openDialog()" title="Supprimer"style="color: rgba(255, 0, 0, 0.664); margin-left: 15px;">delete</mat-icon>  
          <mat-icon title="Modifier" routerLink="/Menu/Menu-dep/Menu-listerdep/Modifier" style="color:blue;margin-left: 15px;"> edit </mat-icon>
       </div>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <img class="card-img-top img-responsive" src="./../../assets/images/Departement/serviceclient.png" alt="Card image cap"/>
        <div class="card-body">
          <h4 class="card-title">Departement service client</h4>
          <p class="card-text"></p>
          <mat-icon routerLink="/Menu/Menu-dep/Menu-listerdep/ServiceClient" title="Visualiser">remove_red_eye</mat-icon>
          <mat-icon (click)="openDialog()" title="Supprimer"style="color: rgba(255, 0, 0, 0.664); margin-left: 15px;">delete</mat-icon>    
          <mat-icon title="Modifier" routerLink="/Menu/Menu-dep/Menu-listerdep/Modifier" style="color:blue;margin-left: 15px;"> edit </mat-icon>
        </div>
    </div>
  </div>
    
</div>

