<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
               <a routerLink="/Menu/Menu-abs"> <i class="pe-7s-graph text-success"></i></a>
            </div>
             Fiche de presence                 
        </div>
    </div>
</div>  

<div class="tab-content">
    <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
               
                <div class="card-header card-header-warning card-header-icon">
                    <p style="color:darkblue;">Presence
                    <a routerLink="/Menu/Menu-abs/Presence"><mat-icon style = "color:darkblue;margin-left: 190px;">people</mat-icon></a></p> 
                </div>
                
                <div class="card-footer">
                    <div class="stats">
                        <h1>50</h1>
                        <a routerLink="/Menu/Menu-abs/Presence"><small style = "margin-left: 190px;">voir les détails</small></a>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                
                <div class="card-header card-header-success card-header-icon">
                    <p style="color:darkcyan">Absences<a routerLink="/Menu/Menu-abs/Absence"><mat-icon style = "color:darkcyan;margin-left: 190px;">block</mat-icon></a></p>
                </div>

                <div class="card-footer">
                    <div class="stats">
                        <h1>4</h1>
                        <a routerLink="/Menu/Menu-abs/Absence"><small style = "margin-left: 190px;">voir les détails</small></a>
                    </div>
                </div>
           
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
               
                <div class="card-header card-header-danger card-header-icon">
                    <p class="card-category" style="color:blueviolet">Vacance<a routerLink="/Menu/Menu-abs/Vacance"><mat-icon style = "color:blueviolet;margin-left: 190px;">beach_access</mat-icon></a></p>
                </div>

                <div class="card-footer">
                    <div class="stats">
                        <h1>2</h1>
                        <a routerLink="/Menu/Menu-abs/Vacance"><small style = "margin-left: 190px;">voir les détails</small></a>
                    </div>
                </div>

            </div>
        </div>
        
    </div>     
 </div>
 