<div   class="grid-container">

    <div class="inline"> 
        <img  src="./../../assets/images/Departement/administratif.png" />
    </div>
   
    <div class="grid-item item5">
        <mat-tab-group headerPosition="above">
            
            <mat-tab>
               
                <ng-template mat-tab-label>            
                   <mat-icon class="example-tab-icon">account_balance</mat-icon>Informations Générales
                </ng-template>
               
                <div class="row">   

                    <div class="col-md-4 mb-4">
                       <mat-label><strong> Nom :  </strong></mat-label>
                       <mat-label>Departement Administratif</mat-label>
                    </div>
                   
                    <div class="col-md-4 mb-4">
                       <mat-label><strong> Domaine : </strong></mat-label>
                       <mat-label>Administratif</mat-label>
                    </div>
                   
                    <div class="col-md-4 mb-4">
                       <mat-label><strong> Effectif de l'equipe : </strong></mat-label>
                       <mat-label>5 membres</mat-label>
                    </div>
               
                </div>

            </mat-tab>            

            <mat-tab>
                
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">comment</mat-icon>Informations Spécifiques
                </ng-template>
               
                <div class="row">
                 
                    <div class="col-md-4 mb-4">
                        <mat-label><strong> Chef d'équipe : </strong></mat-label>
                        <mat-label>Mr Mohamed Ben Said</mat-label>
                    </div>

                    <div class="col-md-4 mb-4">
                        <mat-label><strong> Contact : </strong></mat-label>
                        <mat-label>+216 50908536</mat-label>
                    </div>
               
                    <div class="col-md-4 mb-4">
                        <mat-label><strong> Email : </strong></mat-label>
                        <mat-label>mohamed.bensaid@societe-rh.tn</mat-label>
                    </div>
            
                </div>
               
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <mat-label><strong> Description : </strong></mat-label>
                        <mat-label> Le departement administratif gère les budgets, l'information, la répartition du travail, et le bon fonctionnement de l'entreprise.</mat-label>
                    </div>                     
                </div>

            </mat-tab>
           
       </mat-tab-group>
   </div>
   
</div>