<div>
   <div class="menu">

       <div class="inline">
           <a routerLink="/Menu/Menu-RH/Menu-employee"><img src="./../../assets/images/rh/acces.jpg" />
               <h2> Employé </h2>
           </a>
       </div>

       <div class="inline">
           <a routerLink="/Menu/Menu-RH/Menu-conge"><img src="./../../assets/images/rh/congee.jpg" />
               <h2>Congè</h2>
           </a>
       </div>

       <div class="inline">
           <a routerLink="/Menu/Menu-RH/Menu-bulletin-paie"><img src="./../../assets/images/rh/bull.jpg" />
               <h2>Bulletin de Paie</h2>
           </a>
       </div>

   </div>
</div>